.footer {
	position: relative;
	background-color: white;
	max-height: 60px;
	width: 100%;
	border: solid #CCCCCC;
	border-width: 1px 0 0 0;
	text-align: center;
}
.footer__text {
	position: relative;
	padding: 15px 0 10px 0;
	display: inline-block;
	margin: 0 auto;
}
