.header {
  background-color: white;
  height: 70px;
  width: 100%;
  border: solid #CCCCCC;
  border-width: 0 0 1px 0
}
.header__logo {
  display: block;
  background: url("../images/untitled\ \(5\).svg") no-repeat center left;
  background-size: 130px 130px;
  height: 70px;
  margin-left: 20px;
}