/* Places Section */

.places {
    margin: 40px 20px
}

/* Main section title */
.places__title {
    font-size: 30px;
}

/* Flex styling of place cards */
.places__flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: -20px;
}
.places__flex-card {
    position: relative;
    text-align: center;
    margin: 20px;
    padding: 20px;
    flex-basis: 390px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
}

/* Place card content style */
.places__card-title {
    display: block;
    margin: auto;
    font-size: 30px;
    padding: 0 0 40px 0;
}

.price_by_night {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 5px;
    color: #FF5A5F;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

/* Information section flex-box */
.information {
    height: 80px;
    border: solid #DDDDDD;
    border-width: 1px 0;
    display: flex;
    justify-content: center;

}
.information__flex-child {
    width: 100px;
}

/* Icon specs */
.information__logo {
    display: block;
    height: 60px;
    margin-bottom: -5px;
}
.information__logo.bathrooms {
    background: url("../images/bathtub-with-opened-shower.svg ") no-repeat center;
    background-size: 40px 40px;
}
.information__logo.bedrooms {
    background: url("../images/double-king-size-bed.svg") no-repeat center;
    background-size: 40px 40px;
}
.information__logo.guests {
    background: url("../images/multiple-users-silhouette.svg") no-repeat center;
    background-size: 40px 40px;
}

/* Resident user and description content style */
.user {
    text-align: left;
    padding: 22px 0 10px 0;
}
.description {
    text-align: left;
}
.places__subsection {
    margin-top: 40px;
    text-align: left;
}
.places__title {
    height:40px;
    border: solid #DDDDDD;
    border-width: 0 0 1px 0;
    line-height: 40px;
    margin-bottom: 25px;
}
.places__title > h2 {
    font-size: 16px;
}
.amenity li {
    margin: 5px 0 0 -13px;
}
.amenity-icon.wifi {
    background: url("../images/wifi-connection-signal-symbol.svg") no-repeat left;
    background-size: 20px, 20px;
    height: 20px;
    width: 20px;
    padding: 0 10px 0 0;
    margin-bottom: -3px;
    display: inline-block;
}
.amenity-icon.pets {
    background: url("../images/dog-paw.svg") no-repeat left;
    background-size: 20px, 20px;
    height: 20px;
    width: 20px;
    padding: 0 10px 0 0;
    margin-bottom: -3px;
    display: inline-block;
}
.amenity-icon.tv {
    background: url("../images/tv.svg") no-repeat left;
    background-size: 20px, 20px;
    height: 20px;
    width: 20px;
    padding: 0 10px 0 0;
    margin-bottom: -3px;
    display: inline-block;
}

.places__reviews-list > li {
    list-style-type: none;
}
.places__reviews-list p {
    font-size: 12px;
}
li h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

