.header {
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid #CCCCCC;
    border-width: 0 0 1px 0
}
.header__logo {
  display: block;
  background: url("../images/logo.png") no-repeat center left;
  height: 100%;
  margin-left: 20px;
}