.filters{
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
.filters__button {
  float: right;
  font-size: 18px;
  background: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  margin: 11px 30px;
}
.filters__button:hover {
  opacity: .9
}
.locations {
  height: 100%;
  width: 25%;
  margin-left: 50px;
  line-height: .3;
  border: solid #DDDDDD;
  border-width: 0 1px 0 0;
  font-size: 14px;
  float: left;
}
.amenities {
  height: 100%;
  width: 25%;
  margin-left: 50px;
  line-height: .3;
  float: left;
}
.filters__title {
  padding-top: 5px;
  font-weight: 600;
}
.filters__subtitle {
  font-size: 14px;
  font-weight: 400;
}